{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class='col-4 mx-auto text-center'>
    <h1>Overview</h1>
    <div class='cap-ui'
        data-input-class='form-control'
        data-btn-class='btn btn-primary my-2'
    ></div>

    <div class='cap-ui'
        data-input-class='form-control'
        data-btn-class='btn btn-primary my-2'
    ></div>


    <div class='cap-ui'
        data-input-class='form-control'
        data-btn-class='btn btn-primary my-2'
    ></div>

    <div class='cap-ui'
        data-input-class='form-control'
        data-btn-class='btn btn-primary my-2'
    ></div>

    <div class='cap-ui'
        data-input-class='form-control'
        data-btn-class='btn btn-primary my-2'
    ></div>
</div>

{% endblock %}